// #ff5722: #ff5722 !important;
// #ef6c00 orange darken-3
@import "reset";
@import "~materialize-css/dist/css/materialize.min.css";
.brand-logo {
	font-family: "M PLUS 1p", sans-serif;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 2rem;
	display: flex;
	align-items: center;

	span {
		// margin-top: 5rem;
		display: flex;
		align-items: inline-block;
		font-size: 3rem;
	}
	position: relative;
	.left-header-line,
	.right-header-line {
		height: 0.2rem;
		position: absolute;
		width: 100%;
		background-color: #ff56227e;
	}
	.left-header-line {
		left: -100%;
	}
	.right-header-line {
		right: -100%;
	}
}
.introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	margin: 1rem 0;
	p {
		font-size: 1.4rem;
		&:first-of-type {
			// font-weight: bolder;
		}
		&:last-of-type {
			color: gray;
			// width: 50%;
			margin: 0rem auto;
			text-align: center;
			text-transform: capitalize;
			font-size: 1.1rem;
		}
	}
}
.signUpWith {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// background-image: url(https://images.unsplash.com/photo-1439853949127-fa647821eba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
	// background-size: cover;
	// background-position: center;
	align-items: stretch;
}
h4 {
	text-transform: uppercase;
	margin-bottom: 4rem;
	font-weight: bolder;
	color: #ff5722;

	text-align: center;
}
.signUpWith {
	flex: 50%;
	padding: 4rem 4rem;
	height: 100%;
	a:not(:last-of-type) {
		margin-bottom: 3rem;
	}
	a {
		text-transform: none;
	}
	.card {
		position: relative;
	}
}
.card-signIn {
	flex: 50%;
	padding: 4rem 4rem;
	height: 100%;
}
.card-stacked {
	flex: 50% !important;
	padding: 2rem 2rem;
}
.submit {
	width: 100%;
	font-weight: bolder;
}
.row {
	margin-bottom: 0;
}
.github {
	background-color: #495057;
	&:hover {
		background-color: #54585c;
	}
}
.google {
	background-color: #ea4335;
	&:hover {
		background-color: #df5e52;
	}
}
.twitter {
	background-color: #1da1f2;
	&:hover {
		background-color: #4fbcff;
	}
}
.main-color {
	color: #ff5722 !important;
}
.main-background {
	background-color: #ff5722 !important;
	&.btn:hover,
	&.btn:active,
	&.btn:focus {
		background-color: #fc7952;
	}
	&.btn-large:hover,
	&.btn-large:active,
	&.btn-large:focus {
		background-color: #fc7952;
	}
}
.active {
	color: #ff5722 !important;
}
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type="text"]:not(.browser-default),
input.valid[type="text"]:not(.browser-default):focus,
input.valid[type="password"]:not(.browser-default),
input.valid[type="password"]:not(.browser-default):focus,
input.valid[type="email"]:not(.browser-default),
input.valid[type="email"]:not(.browser-default):focus,
input.valid[type="url"]:not(.browser-default),
input.valid[type="url"]:not(.browser-default):focus,
input.valid[type="time"]:not(.browser-default),
input.valid[type="time"]:not(.browser-default):focus,
input.valid[type="date"]:not(.browser-default),
input.valid[type="date"]:not(.browser-default):focus,
input.valid[type="datetime"]:not(.browser-default),
input.valid[type="datetime"]:not(.browser-default):focus,
input.valid[type="datetime-local"]:not(.browser-default),
input.valid[type="datetime-local"]:not(.browser-default):focus,
input.valid[type="tel"]:not(.browser-default),
input.valid[type="tel"]:not(.browser-default):focus,
input.valid[type="number"]:not(.browser-default),
input.valid[type="number"]:not(.browser-default):focus,
input.valid[type="search"]:not(.browser-default),
input.valid[type="search"]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid > input.select-dropdown {
	border-bottom: 1px solid #ff5722;
	-webkit-box-shadow: 0 1px 0 0 #ff5722;
	box-shadow: 0 1px 0 0 #ff5722;
}
.already {
	display: flex;
	margin-top: 0.5rem;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.signUpWith {
	position: absolute;
	background-image: url(https://images.unsplash.com/photo-1596528323454-26f434a66b1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
	background-size: cover;
	z-index: 10;
	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	transition: transform 0.3s;
	h4 {
		color: #fff;
	}
	&.slided {
		transform: translateX(100%);
	}
}
.btn {
	height: 3rem !important;
	display: block;
	line-height: 3rem !important;
}
::-moz-selection {
	/* Code for Firefox */
	color: #fff;
	background: #ff5722;
}

::selection {
	color: #fff;
	background: #ff5722;
}
.helper-text {
	font-size: 0.75rem !important;
	margin-bottom: 1.5rem;
}
.loader {
	width: 4rem;
	display: none;
	justify-content: center;
	margin: -0.5rem auto;
}
.nav-wrapper {
	background-color: #ff5722;
}
@import "loading";
@import "message";
@import "app";
@import "tooltip";
@import "media";
